@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
* {
box-sizing: border-box;
padding: 0;
margin: 0;
}
body {
    font-family: 'Ubuntu', sans-serif;
}
header {
    width: 100%;
    padding: 20px 40px;
    
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


nav ul {
    float: right;
    
}
nav a {
    text-decoration: none;
    color:black;

    
}
  .acilir-menu {
    display: none;
    position: absolute;
    padding: 10px;
    border-radius: 4%;
    background-color: rgb(0, 0, 0);
    min-width: 260px;
}

.acilir-menu a {
    color:white;
    display: block;
    text-align: left;
}

.acilir-menu a:hover {
    color: white;
}

.menu:hover .acilir-menu {
    display: block;
}


  
  nav ul {
    list-style: none;
    display: flex;
    font-size: 17px;
  }
  
  nav ul li {
    font-weight: 600;
    margin: 0px 14px;
  }
  .input {
      display: flex;
      margin: 10px;
  }

.dosyasec {
    margin: auto;
}